
.sort-container {
    padding-left: 27rem;
    margin: 5px;
    display: flex;
    justify-content: flex-end;
    margin-right: 23px;
    margin-top: 26px;
    margin-bottom: -37px
}

.sorting-button {   
    padding: 6px;
    border: hidden;
}
